@using System.ComponentModel.DataAnnotations
@using LAHJA.Data.UI.Components.Base
@using LAHJA.UI.Components.General.Button
@using LAHJA.UI.Components.General.InputField
@using Microsoft.AspNetCore.Authorization
@using global::Shared.Constants
@using global::Shared.Constants._Messages
@using global::Shared.Wrapper


@using LAHJA.Them

@inject NavigationManager Navigation
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@attribute [AllowAnonymous]

@if (Message==null){

    <MudCard Class="w60 mx-auto my-5 p-6 rounded-lg shadow-lg text-center  dark:bg-gray-900 d-flex align-center justify-content-center flex-column">


            <MudForm Style="width:100% !important" @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                <div class="d-flex align-center justify-content-center flex-column" style="padding:2% 2%;margin:auto 10px;width:100% !important ">
                   
                    <MudText> @MapperMessages.Map(ExplanatoryMessages.ENTER_YOUR_ACCOUNT_TOSEARCH_AR, ExplanatoryMessages.ENTER_YOUR_ACCOUNT_TOSEARCH_EN) </MudText>

                     <EmailField Class="my-5" FullWidth Label="Email" Required="true" @bind-Value="@email" />

                    <CustomButton OnClick="onSubmitConfirmEmail" IsProcessing="processing" Text="@MapperMessages.Map(TitleLabels.SEND_VERIFICATION_LINK_VIA_EMAIL_AR,TitleLabels.SEND_VERIFICATION_LINK_VIA_EMAIL_EN)" />
                    

                </div>
            </MudForm>

    </MudCard>
}
else
{
    <ConfirmationEmail Email="@email" />
}





@code {
    private bool _licenseAccepted = false;
    private bool processing = false;


    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public EventCallback<DataBuildAuthBase> OnSubmited { get; set; }

    [Parameter] public string Email { get => email; set
        {
            if (!string.IsNullOrEmpty(value))
            {
                email = value;
                StateHasChanged();
            }
    } }
    [Parameter] public string Message { get; set; }

    [Parameter] public bool IsDisplay { get => _isVisible; set {
            _isVisible = value;
            StateHasChanged();
        }}


    [Parameter] public string[] Errors { get => errors; set => errors = value; }

    private bool success;
    private bool _isVisible = false;
    private string[] errors = { };
    private MudForm form;
    private string email;



    private async Task OpenDialogAsync()
    {


        var title = MapperMessages.Map(SuccessMessages.LINK_SENT_SUCCESSFULLY_AR,
                    SuccessMessages.LINK_SENT_SUCCESSFULLY_EN);
        var parameters = new DialogParameters
        {
            { "Title",title },
            { "Message", MapperMessages.Map(ExplanatoryMessages.CLICK_VERIFICATION_LINK_VIA_EMAIL_AR,
                            ExplanatoryMessages.CLICK_VERIFICATION_LINK_VIA_EMAIL_EN) }
        };

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        var dialog = DialogService.Show<DialogBox>("", parameters, options);
        var result = await dialog.Result;


    }

    private async Task onSubmitConfirmEmail()
    {
        try
        {
            await form.Validate();
            if (success)
            {


                processing = true;
                if (!string.IsNullOrEmpty(email) && OnSubmited.HasDelegate)
                {

                    // OnSubmited(email);
                    await OnSubmited.InvokeAsync(new DataBuildAuthBase{Email=email} );

                }
                await Task.Delay(6000);
                processing = false;

            }

        }catch(Exception e)
        {
            // MudDialog.Close(DialogResult.Cancel());
        }
    }

  
}
